Repository Dadarkp3/pokedex: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, eslint, prettier --write, prettier -write

.lintstagedrc:

{
  "**/*.{js,jsx,ts,tsx}": ["eslint --fix", "eslint", "prettier --write"],
  "**/*.{html,json,css,scss,md,mdx}": ["prettier -write"]
}

feat: pk02 - commit message configuration in husky
  .husky/commit-msg
Due: none

feat: pk06 - add and configure jest
  .husky/commit-msg
  .jest/setup.ts
  jest.config.js
  package-lock.json
  package.json
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk06 - add coverage config
  .husky/commit-msg
  .lintstagedrc
  .lintstagedrc.js
  jest.config.js
  package.json
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk06 - fix husky hooks
  .eslintignore
  .husky/pre-commit
  jest.config.js
Due: eslint --fix, eslint, prettier --write

feat: pk07 - remove unecessary code
  src/app/components/Header/___tests___/header.spec.ts
  src/app/components/Header/header.tsx
  src/app/favicon.ico
  src/app/globals.css
  src/app/layout.tsx
  src/app/page.module.css
  src/app/page.tsx
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk07 - add jest configuration and first test
  .jest/setup.ts
  .lintstagedrc.js
  package-lock.json
  package.json
  src/app/components/Header/___tests___/header.spec.ts
  src/app/components/Header/___tests___/header.spec.tsx
  tsconfig.json
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk16 - configure alias and import
  .eslintrc.json
  jest.config.js
  package-lock.json
  package.json
  src/app/page.tsx
  src/components/Header/___tests___/header.spec.tsx
  src/components/Header/header.tsx
  tsconfig.json
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk6 - added validation of test coverage in commit
  jest.config.js
  src/components/Header/__tests__/header.spec.tsx
  src/components/Main/__tests__/mains.spec.tsx
  src/components/Main/main.tsx
  tsconfig.json
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk14 - add the mnodels and interfaces
  src/models/Pokemon..ts
Due: eslint --fix, eslint, prettier --write

feat: pk14 - add mock responses
  src/lib/mocks/PokemonMock.ts
  src/lib/mocks/PokemonPageMock.ts
  src/models/Pokemon.ts
  tsconfig.json
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk11 - config plop
  generators/plopfile.js
  generators/templates/Component.tsx.hbs
  generators/templates/tests.tsx.hbs
  jest.config.js
  package-lock.json
  package.json
  src/components/Input/__test__/input.spec.tsx
  src/components/Input/input.tsx
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk10 - config sass
  generators/plopfile.js
  generators/templates/Component.tsx.hbs
  generators/templates/styles.scss.hbs
  jest.config.js
  package-lock.json
  package.json
  src/app/page.tsx
  src/components/Header/header.tsx
  src/components/Input/__test__/input.spec.tsx
  src/components/Input/input.tsx
  src/components/Main/main.tsx
  src/styles/mixins.scss
  src/styles/variables.scss
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk10 - config sass files
  src/app/layout.tsx
  src/styles/global.scss
  tsconfig.json
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk12 - config ga to validate build
  .github/workflows/validation.yml
  package-lock.json
  package.json
Due: prettier -write

fix: pk12 - validation file typo
  .github/workflows/validation.yml
Due: none

fix: pk22 - add usePokemonSearch hook
  jest.config.js
  src/app/page.tsx
  src/components/Header/__tests__/header.spec.tsx
  src/components/Main/__tests__/mains.spec.tsx
  src/components/Main/main.tsx
  src/components/SearchBar/__test__/searchBar.spec.tsx
  src/components/SearchBar/searchBar.module.scss
  src/components/SearchBar/searchBar.tsx
  src/hooks/__tests__/usePokemonSearch.spec.tsx
  src/hooks/usePokemonSearch.tsx
  src/lib/mocks/PokemonMock.ts
  src/lib/mocks/PokemonPageMock.ts
  src/lib/utils/__tests__/utils.spec.ts
  src/lib/utils/hooksUtils.ts
  src/models/PokemonModels.ts
  src/models/searchBarModels.ts
  tsconfig.json
Due: eslint --fix, eslint, prettier --write, prettier -write

fix: pk17 - add searchbar and loading
  src/components/Loading/__test__/loading.spec.tsx
  src/components/Loading/loading.module.scss
  src/components/Loading/loading.tsx
  src/components/Main/main.tsx
  src/components/SearchBar/__test__/searchBar.spec.tsx
  src/components/SearchBar/searchBar.tsx
  src/lib/utils/__tests__/utils.spec.ts
  src/lib/utils/searchUtils.ts
  src/models/searchBarModels.ts
Due: eslint --fix, eslint, prettier --write, prettier -write

fix: pk17 - add searchbar and loading
  generators/templates/tests.tsx.hbs
  src/components/ErrorMessage/__test__/errorMessage.spec.tsx
  src/components/ErrorMessage/errorMessage.module.scss
  src/components/ErrorMessage/errorMessage.tsx
  src/components/Main/main.tsx
  src/components/SearchBar/searchBar.tsx
  src/hooks/__tests__/usePokemonSearch.spec.tsx
  src/hooks/usePokemonSearch.tsx
  src/lib/utils/__tests__/utils.spec.ts
  src/lib/utils/searchUtils.ts
  src/models/usePokemonSearchModels.ts
Due: eslint --fix, eslint, prettier --write, prettier -write

fix: pk17 - error import
  src/hooks/usePokemonSearch.tsx
Due: eslint --fix, eslint, prettier --write

feat: pk-17 - addning bussines rule to the input
  src/components/Main/main.tsx
  src/components/SearchBar/searchBar.tsx
  src/hooks/__tests__/usePokemonSearch.spec.tsx
  src/hooks/usePokemonSearch.tsx
  src/models/searchBarModels.ts
Due: eslint --fix, eslint, prettier --write

feat: pk-27 - addning ui improviments
  src/app/api/pokemon/route.ts
Due: eslint --fix, eslint, prettier --write

feat: pk-28 update useSearchPokemon hook to use api
  src/hooks/usePokemonSearch.tsx
Due: eslint --fix, eslint, prettier --write

feat: pk-28 update unit test
  global.d.ts
  package-lock.json
  package.json
  src/hooks/__tests__/usePokemonSearch.spec.tsx
  src/hooks/usePokemonSearch.tsx
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk-29 add caching to the get api
  package-lock.json
  package.json
  src/app/api/pokemon/route.ts
  src/components/PokedexApp/SearchBar/__test__/searchBar.spec.tsx
  src/hooks/__tests__/usePokemonSearch.spec.tsx
  src/hooks/usePokemonSearch.tsx
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: fix metadata
  public/next.svg
  public/vercel.svg
  src/app/layout.tsx
Due: eslint --fix, eslint, prettier --write

fix: add icon
  public/images/icon.png
  src/app/layout.tsx
Due: eslint --fix, eslint, prettier --write

feat: pk-30 improving cartoon look
  public/images/screenBg.png
  src/components/PokedexApp/ControllersButtons/controllersButtons.module.scss
  src/components/PokedexApp/ControllersButtons/controllersButtons.tsx
  src/components/PokedexApp/InfoDisplay/infoDisplay.module.scss
  src/components/PokedexApp/Lights/lights.module.scss
  src/components/PokedexApp/SmallScreen/smallScreen.module.scss
  src/components/PokedexApp/pokedexApp.module.scss
  src/styles/mixins.scss
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk-30 improving screen and infoDisplay
  src/app/layout.tsx
  src/components/Main/main.module.scss
  src/components/PokedexApp/InfoDisplay/infoDisplay.tsx
  src/components/PokedexApp/Loading/loading.module.scss
  src/components/PokedexApp/SmallScreen/smallScreen.module.scss
  src/components/PokedexApp/SmallScreen/smallScreen.tsx
  src/models/PokemonModels.ts
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk-30 remove unecessary div
  src/components/PokedexApp/InfoDisplay/infoDisplay.tsx
Due: eslint --fix, eslint, prettier --write

feat: pk-30 create color variables
  src/components/Main/main.module.scss
  src/components/PokedexApp/ControllersButtons/controllersButtons.module.scss
  src/components/PokedexApp/InfoDisplay/infoDisplay.module.scss
  src/components/PokedexApp/Lights/lights.module.scss
  src/components/PokedexApp/Loading/loading.module.scss
  src/components/PokedexApp/SearchBar/searchBar.module.scss
  src/components/PokedexApp/SmallScreen/__test__/smallScreen.spec.tsx
  src/components/PokedexApp/SmallScreen/smallScreen.module.scss
  src/components/PokedexApp/SmallScreen/smallScreen.tsx
  src/styles/variables.scss
Due: eslint --fix, eslint, prettier --write, prettier -write

feat: pk-30 add header and footer
  public/images/logo.png
  src/app/page.tsx
  src/components/Footer/__test__/footer.spec.tsx
  src/components/Footer/footer.module.scss
  src/components/Footer/footer.tsx
  src/components/Header/__tests__/header.spec.tsx
  src/components/Header/header.module.scss
  src/components/Header/header.tsx
  src/components/PokedexApp/Lights/lights.module.scss
  src/components/PokedexApp/Loading/loading.module.scss
  src/components/PokedexApp/SearchBar/searchBar.module.scss
  src/components/PokedexApp/SmallScreen/smallScreen.module.scss
  src/components/PokedexApp/pokedexApp.module.scss
  src/styles/global.scss
  src/styles/variables.scss
Due: eslint --fix, eslint, prettier --write, prettier -write

fix: pk-30 fix title
  src/components/Header/header.tsx
Due: eslint --fix, eslint, prettier --write

fix: pk-30 fix jest config for coverage
  jest.config.js
Due: eslint --fix, eslint, prettier --write

fix: pk-30 remove unecessary code
  src/lib/utils/__tests__/utils.spec.ts
  src/lib/utils/hooksUtils.ts
Due: eslint --fix, eslint, prettier --write

fix: pk-34 add info to the readme page
  README.md
Due: prettier -write

fix: pk-30 add fixed node version
  .nvmrc
Due: none

fix: pk-30 fix pokemonMock
  src/lib/mocks/PokemonMock.ts
Due: eslint --fix, eslint, prettier --write

fix: pk-30 fix smallScreen unit test
  src/components/PokedexApp/SmallScreen/__test__/smallScreen.spec.tsx
Due: eslint --fix, eslint, prettier --write

fix: pk-30 add images for the readmefile
  public/images/desktop_version.png
  public/images/mobile_version.png
Due: none
